<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guaimao.guaimaoapp">

    <application
        android:name="main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_guaimao_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />



    <meta-data
        android:name="UMENG_APPKEY"
        android:value="57b01f96e0f55a0ff5003a5a" >
    </meta-data>
    <meta-data
        android:name="UMENG_MESSAGE_SECRET"
        android:value="2adef864b4ea9ab5559e7c6087eb0e35" >
    </meta-data>

</manifest>